<nav class="navbar navbar-dark navbar-expand-sm bg-dark">
<div class="container-fluid">
  <div id="navbarTogglerDemo01">
    <span class="navbar-brand">Angular tutorials</span>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="" routerLinkActive="disabled" href="javascript:">Home</a>
      </li>
      <li class="nav-item">
        <!-- EXPLAINED down here angular attributes to define the route link and adds class "active" when it is the current active route path -->
        <a routerLink="/first" routerLinkActive="active" class="nav-link" href="javascript:">First Component</a>
      </li>
    </ul>
  </div>
</div>
</nav>