<h5 *ngIf="employees?.length < 1">Oops, nothing to show here</h5>
<table class="table table-hover" border="1" *ngIf="employees?.length > 0">
  <thead>
    <tr>
      <th scope="col">
        <a class="sort-by" (click)="sortBy('id')">Id</a>
      </th>
      <th scope="col">
        <a class="sort-by" (click)="sortBy('firstName')">First Name</a>
      </th>
      <th scope="col">
        <a class="sort-by" (click)="sortBy('lastName')">Last Name</a>
      </th>
      <th scope="col">
        <a class="sort-by" (click)="sortBy('status')">Status</a>
      </th>
      <th scope="col">
        <a class="sort-by" (click)="sortBy('salary')">Salary</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees"
        (click)=selectEmployee(employee)>
      <td>{{ employee.id }}</td>
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.status }}</td>
      <td>{{ employee.salary | currency: employee.currency.currencyCode }}</td>
    </tr>
  </tbody>
</table>

<!-- <p>{{IntegerValue |currency:'INR':'symbol':'3.0'}}</p>

-->
